@font-face {
    font-family: 'SF Pro Display Light';
    src: url('../fonts/SFProDisplay-Light.woff');
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    background: #F3F1F4;
    font-family: 'SF Pro Display Light', 'serif';
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background: indigo;
    margin-bottom: 1.5%;
    padding: 0.3%;
}

.header-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

.links {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.links-style {
    border: 1px solid darkviolet;
    border-radius: 8px;
    text-align: center;
    background-color: darkviolet;

}
.header-profile-link {
    padding: 1.5%;
}
.txt-color {
    color: transparent;
}

span {
    color: white;
}

.user-info {
    display: flex;
    justify-content: end;
}

.main-block {
    flex: 1 0 auto;
}

.aside-profile {
    background: #F9F9F9;
    margin-left: 1%;
    padding-right: 2%;
}

aside nav {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

aside nav a {
    margin: 3% 3% 3% 0;
    padding: 2% 2% 2% 5%;
    position: relative;
    width: 100%;
}

.nav-links-color {
    color: black;
}

a {
/*    font-family: 'SF Pro Display', sans-serif;
    font-size: 1em;*/
    text-decoration: none;
    color: white;
    white-space: nowrap;
}


footer {
    width: 100%;
    height: 40px;
    background: #F3F1F4;
}

.border-nav {
    padding-top: 10%;
    margin: 0;
}

.border-nav a:hover {
    border-left: 4px solid indigo;
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-BlackItalic.woff');
    /*src: url('../fonts/SFProDisplay-UltralightItalic.eot');
    src: local('SF Pro Display UltralightItalic'), local('SFProDisplay-UltralightItalic'),
    url('../fonts/SFProDisplay-UltralightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFProDisplay-UltralightItalic.woff2') format('woff2'),
    url('../fonts/SFProDisplay-UltralightItalic.woff') format('woff'),
    url('../fonts/SFProDisplay-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;*/
}
